<div class="tabs">
  <ul>
    <li *ngFor="let tab of tabs; let i = index" [class.active]="i === selectedIndex">
      <a (click)="selectTab(i)">Tab {{ i+1 }}</a>
      <button class="close" (click)="closeTab(i)">X</button>
    </li>
  </ul>
  <div class="tab-content-container">
    <ng-container *ngFor="let tab of tabs; let i = index">
      <div *ngIf="i === selectedIndex" class="tab-content">
        <ng-container *ngTemplateOutlet="tab"></ng-container>
      </div>
    </ng-container>
  </div>
</div>
